main {
  position: absolute;
  top: $gap-large;
  left: $gap-large;
  display: grid;
  gap: $gap-medium;
  z-index: 1;
  width: calc(100% - $side-width);

  article {
    padding: $gap-medium;
    background-color: white;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow;
  }
}
