main {
  position: absolute;
  top: 0;
  left: 0;
  padding: $gap-large;
  display: grid;
  gap: $gap-medium;
  z-index: 1;
  width: calc(100vw - $side-width + 2 * $gap-large);

  article {
    display: grid;
    gap: $gap-medium;
    padding: $gap-medium;
    background-color: $color-background;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow;
  }
}
