main {
  container-name: main-container;
  position: absolute;
  top: 0;
  left: 0;
  padding: $gap-xlarge;
  display: grid;
  gap: $gap-large;
  z-index: 1;
  width: calc(100vw - $side-width + 2 * $gap-xlarge);

  &.two-columns {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  article {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
    padding: $gap-large;
    background-color: $color-background;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow;

    &:has(> .header) {
      grid-column: 1 / -1;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-text-primary;
      z-index: 2;
    }

    .title {
       display: flex;
      justify-content: space-between;
      align-items: center;     
    }
  }
}
