@import '../mixins/visuals.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  padding: var(--gap-large);
  background-color: var(--color-background-secondary);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  &.accent {
    color: var(--color-text-secondary);
  }

  .header {
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  .actions {
    display: flex;
    gap: var(--gap-small);
    text-align: end;
    z-index: 2;

    &.align {
      align-items: center;
    }

    &.wrap {
      flex-wrap: wrap;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
  }

  .footer {
    display: flex;
    gap: var(--gap-small);
    z-index: 2;
  }
}
