.noCards {
  @include empty-card;
}

.card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .title {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    color: $color-text-primary;
  }

  .info {
    display: flex;
    gap: $gap-small;
    z-index: 2;
    color: $color-text-primary;
  }

  &:not(:has(.edit, .delete)) {
    @include zoom-on-hover($scale-small);
    @include outline-on-focus;
  }

  &:not(.newCard) {
    @include background-image-card;
  }

  &.newCard {
    justify-content: center;
  }
}
