.edit {
    color: var(--color-primary);
    cursor: pointer;
}

.delete {
    color: var(--color-error);
    cursor: pointer;
}

button {
    &.edit, &.delete {
        color: var(--color-text-secondary);
    }
}