@import '../mixins/interactions.scss';
@import '../mixins/responsiveness.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-5);
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: var(--nav-height);
  padding: 0 var(--spacing-6);
  background-color: var(--color-background-primary);
  color: var(--color-background-primary-text);
  border-bottom: var(--border);

  .brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--spacing-9);
      width: var(--spacing-9);
      border-radius: 100%;
      background-color: var(--color-primary);
      color: var(--color-primary-text);

      svg {
        height: var(--spacing-5);
        width: var(--spacing-5);
      }
    }

    a {
      @include outline-on-focus;

      font-weight: 600;
      font-size: 1.17rem;
    }
  }

  .menu {
    @include responsiveness;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-1);

    .active {
      button {
        background-color: var(--color-secondary);
        color: var(--color-secondary-text);

        &:hover,
        &:focus {
          background-color: color-mix(in srgb, var(--color-secondary) 80%, transparent);
        }
      }
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-3);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  z-index: 1001;
  padding: var(--spacing-6);
  background-color: var(--color-background-primary);
  border-left: var(--border);
  border-right: var(--border);

  & > button:first-child {
    display: flex;
    align-self: end;
  }
}

:root.left {
  @media only screen and (max-width: 1100px) {
    nav {
      flex-direction: row-reverse;
      justify-content: start;
    }

    aside {
      left: 0;

      & > button:first-child {
        align-self: start;
      }
    }
  }
}
