@import '../mixins/interactions.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-medium);
  position: absolute;
  width: 100vw;
  z-index: 2;
  padding: var(--gap-medium) var(--gap-medium);
  background-color: var(--color-background-primary);
  border-bottom: var(--border-medium) solid #cacaca;

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-medium);
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: var(--gap-medium);
  }
}

aside {
  position: fixed;
  right: 0;
  top: 0;

  &.menuOpen {
    z-index: 2;
  }
}

:root.left {
  @media only screen and (max-width: 1100px) {
    aside {
      left: 0;

      nav {
        align-items: start;
      }

      .brand {
        right: auto;
      }
    }
  }
}
