@import '../mixins/animations';

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);

    .edit:first-child {
        font-size: 2rem;
    }

    &.finished {
        @include animation-shake;
    }
}