@import '../mixins/animations';

.header {
    &.timer {
        display: grid;
        grid-template-columns: repeat(9, auto);
        gap: var(--gap-medium);

        @media screen and (max-width: 900px) {
            gap: var(--gap-small);
            grid-template-columns: repeat(8, auto);

            .icon {
                grid-column: span 8;
            }
        }

        .edit:first-child {
            font-size: 2rem;
        }

        &.finished {
            @include animation-shake;
        }
    }
}
