.addRecipe {
  article {
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-medium;

      > div {
        display: grid;
        gap: $gap-medium;
      }

      .list {
        display: grid;
        gap: $gap-small;

        & > div {
          display: flex;
          gap: $gap-small;

          button {
            width: auto;
          }
        }
      }

      #image {
        & > div {
          display: grid;
          gap: $gap-small;

          img {
            width: 100%;
            height: calc(7 * (60px + $gap-medium) + 45px + $gap-medium);
            object-fit: cover;
            border-radius: $border-radius-medium;
          }
        }
      }

      .error,
      #save {
        grid-column: 1/3;
      }

      @media only screen and (max-width: 1200px) {
        grid-template-columns: 1fr;

        #name,
        #category,
        #lastEaten,
        #duration,
        #portions,
        #rating,
        #image,
        #ingredients,
        #instructions,
        #notes,
        .error,
        #save {
          grid-column: 1/2;
        }

        #image {
          & > div {
            img {
              height: auto;
              max-height: 500px;
            }
          }
        }
      }
    }
  }
}
