.addRecipe {
  article {
    form {
      grid-template-columns: repeat(6, 1fr);

      .list {
        display: grid;
        gap: $gap-small;
      }

      #name {
        grid-column: 1/7;
      }

      #category {
        grid-column: 1/4;
      }

      #lastEaten {
        grid-column: 4/7;
      }

      #duration {
        grid-column: 1/3;
      }

      #portions {
        grid-column: 3/5;
      }

      #rating {
        grid-column: 5/7;
      }

      #picture {
        grid-column: 1/7;

        & > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: $gap-small;

          img {
            border-radius: $border-radius-medium;
          }
        }
      }

      #ingredients {
        grid-column: 1/7;

        .list > div {
          display: flex;
          gap: $gap-small;

          button {
            width: auto;
          }
        }
      }

      #instructions {
        grid-column: 1/7;

        .list > div {
          display: flex;
          gap: $gap-small;

          button {
            width: auto;
          }
        }
      }

      #notes {
        grid-column: 1/7;
      }

      #save {
        grid-column: 1/7;
      }

      @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr;

        #name,
        #category,
        #lastEaten,
        #duration,
        #portions,
        #rating,
        #picture,
        #ingredients,
        #instructions,
        #notes,
        #save {
          grid-column: 1/2;
        }

        #picture {
          & > div {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
