.groceryList {
  article {
    .label-group {
      label {
        display: flex;
        align-items: center;
        gap: $gap-small;
        width: auto;
      }
    }

    .info {
        display: flex;
        gap: $gap-small;
    }
  }
}
