.home {
    article {
        .brand {
            @include zoom-on-hover($scale-medium);
            @include text-on-focus(var(--color-primary));

            font-style: italic;
            color: var(--color-secondary);
        }

        &.card {
            display: flex;
            justify-content: center;
            height: 300px;
            text-align: center;
        }
    }    
}