.profile {
  article {
    .title {
      align-items: center;
      padding: var(--spacing-8);
      border: var(--border-secondary);
      border-radius: var(--spacing-6);
      background: var(--color-gradient);

      .user {
        display: flex;
        align-items: center;
        gap: var(--spacing-4);

        .userBrand {
          display: flex;
          justify-content: center;
          align-items: center;
          height: var(--spacing-12);
          width: var(--spacing-12);
          border-radius: 100%;
          background-color: var(--color-primary);
          color: var(--color-primary-text);

          @media only screen and (max-width: 600px) {
            display: none;
          }
        }

        .userName {
          display: flex;
          flex-direction: column;

          h2 {
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }

      .actions {
        align-items: center;
      }
    }

    .card {
      .preference {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-4);

        .name {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-1);

          :not(.small) {
            color: var(--color-background-primary-text);
          }
        }

        > :nth-child(2) {
          &:not(.toggle) {
            width: calc(var(--spacing-15) * 2);
          }
        }

        &:nth-of-type(-n + 2) {
          padding-bottom: var(--spacing-4);
          border-bottom: var(--border-secondary);
        }
      }

      button {
        width: fit-content;
        margin-top: var(--spacing-1);
      }
    }
  }
}
