.recipe {
    .left {
        grid-template-rows: auto 1fr;

        .checkbox-list-item {
            grid-template-columns: 60px auto minmax(0, 1fr);
            overflow-wrap: break-word;
        }
    }

    .right {
        grid-template-rows: 1fr auto;

        .timer {
            display: flex;
            gap: var(--gap-small);
            align-items: center;

            @media screen and (max-width: 600px) {
                display: grid;
                grid-template-columns: repeat(11, 1fr);
                justify-content: center;

                :first-child {
                    grid-column: span 11;
                    justify-self: center;
                }

                :nth-child(2),
                :nth-child(8),
                :nth-child(9) {
                    grid-column: span 11;
                }

                :nth-child(3),
                :nth-child(5),
                :nth-child(7) {
                    grid-column: span 3;
                }

                :nth-child(4),
                :nth-child(6) {
                    grid-column: span 1;
                    justify-self: center;
                }
            }
        }
    }
}