.recipe {
  article {
    .info {
      display: flex;
      justify-content: space-around;
      gap: $gap-small;
      z-index: 2;
      color: var(--color-text-primary);
    }

    .portionCalculator {
      display: flex;
      align-items: center;
      gap: $gap-small;
    }

    .label-group {
      label {
        display: flex;
        align-items: center;
        gap: $gap-small;
        width: auto;
      }
    }
  }
}
