@import '../mixins/interactions.scss';

.recipes {
  article {
    &:has(> .header) {
      grid-column: 1 / -1;
    }

    .header {
      display: flex;
      justify-content: space-between;

      .sort {
        display: flex;
        gap: $gap-small;
        max-width: 50%;

        button {
          display: flex;
          gap: $gap-small;
          width: auto;
        }
      }
    }

    .filters {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $gap-medium;

      .rangeFilters {
        display: grid;
        gap: $gap-medium;

        & > div {
          display: flex;
          gap: $gap-small;
        }
      }

      .list {
        display: grid;
        gap: $gap-small;

        & > div {
          display: flex;
          gap: $gap-small;

          button {
            width: auto;
          }
        }
      }

      @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }

    &.card {
      @include zoom-on-hover($scale-small);
      @include outline-on-focus;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &::before {
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        border-radius: $border-radius-medium;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      }

      .title {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        color: $color-text-secondary;
      }

      .info {
        display: flex;
        justify-content: end;
        gap: $gap-small;
        z-index: 2;
        color: $color-text-secondary;
      }
    }
  }
}
