@import '../mixins/interactions.scss';
@import '../mixins/visuals.scss';

.recipes {
  @include fill-out-cards;

  article {
    .header {
      #cookGroup {
        max-width: 50%;
      }
    }

    .sort {
      display: flex;
      gap: $gap-small;

      button {
        display: flex;
        gap: $gap-small;
        width: auto;
      }
    }

    .filters {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $gap-medium;

      .rangeFilters {
        display: grid;
        gap: $gap-medium;

        & > div {
          display: flex;
          gap: $gap-small;
        }
      }

      .list {
        @include list;
      }

      @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }

    &.noRecipes {
      @include empty-card;
    }

    &.card {
      @include zoom-on-hover($scale-small);
      @include outline-on-focus;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:not(.newRecipe) {
        @include background-image-card;
      }

      &.newRecipe {
        justify-content: center;
      }
    }
  }
}
