.confirmPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  padding: var(--spacing-6);
  border: var(--border-secondary);
  border-radius: var(--spacing-6);
  background-color: var(--color-background-secondary);

  @media only screen and (max-width: 1100px) {
    min-width: 90%;
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: var(--spacing-4);
  }
}
