.pill {
  display: flex;
  gap: var(--spacing-2);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: var(--spacing-6);
  font-size: 0.75rem;

  &.primary {
    background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
    color: var(--color-primary);

    svg {
      color: var(--color-primary);
    }
  }

  &.secondary {
    background-color: color-mix(in srgb, var(--color-background-primary) 70%, transparent);
    color: var(--color-disabled-text);
  }

  &.tertiary {
    background-color: color-mix(in srgb, var(--color-tertiary) 20%, transparent);
    color: var(--color-tertiary);
  }

  &.accent {
    background-color: color-mix(in srgb, var(--color-accent) 70%, transparent);
    color: var(--color-accent-text);
  }

  &.warning {
    background-color: color-mix(in srgb, var(--color-warning) 20%, transparent);
    color: var(--color-warning-text);
  }

  &.medium {
    height: var(--spacing-6);
    padding: var(--spacing-1) var(--spacing-3);

    svg {
      height: var(--spacing-2);
    }
  }

  &.large {
    height: var(--spacing-7);
    padding: var(--spacing-2) var(--spacing-4);

    svg {
      height: var(--spacing-3);
    }
  }

  &.xlarge {
    height: var(--spacing-11);
    aspect-ratio: 1/1;

    svg {
      height: var(--spacing-5);
    }
  }
}
