@mixin pill-variant($background, $color, $icon: null) {
  background-color: $background;
  color: $color;

  svg {
    color: $icon;
  }
}

.pill {
  display: flex;
  gap: var(--spacing-2);
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: var(--spacing-6);
  font-size: 0.75rem;

  &.primary {
    @include pill-variant(
      color-mix(in srgb, var(--color-primary) 20%, transparent),
      var(--color-primary),
      var(--color-primary)
    );
  }

  &.secondary {
    @include pill-variant(
      color-mix(in srgb, var(--color-background-primary) 70%, transparent),
      var(--color-background-secondary-text)
    );
  }

  &.tertiary {
    @include pill-variant(
      color-mix(in srgb, var(--color-tertiary) 20%, transparent),
      var(--color-tertiary)
    );
  }

  &.accent {
    @include pill-variant(
      color-mix(in srgb, var(--color-accent) 70%, transparent),
      var(--color-accent-text)
    );
  }

  &.warning {
    @include pill-variant(
      color-mix(in srgb, var(--color-warning) 20%, transparent),
      var(--color-warning-text)
    );
  }

  &.medium {
    height: var(--spacing-6);
    padding: var(--spacing-1) var(--spacing-3);

    svg {
      height: var(--spacing-2);
    }
  }

  &.large {
    height: var(--spacing-7);
    padding: var(--spacing-2) var(--spacing-4);

    svg {
      height: var(--spacing-3);
    }
  }

  &.xlarge {
    height: var(--spacing-11);
    aspect-ratio: 1/1;

    svg {
      height: var(--spacing-5);
    }
  }
}
