@mixin switch-variant($background, $color: null) {
  background-color: $background;

  button:not(.active) {
    color: $color;
  }
}

.switch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--spacing-1);
  border-radius: var(--spacing-5);

  &.primary {
    @include switch-variant(var(--color-primary), var(--color-primary-text));
  }

  &.secondary {
    @include switch-variant(var(--color-secondary), var(--color-secondary-text));
  }

  &.tertiary {
    @include switch-variant(var(--color-disabled));
  }

  &.accent {
    @include switch-variant(var(--color-accent), var(--color-accent-text));
  }

  &.warning {
    @include switch-variant(var(--color-warning), var(--color-warning-text));
  }

  button {
    &.active {
      background-color: var(--color-background-primary);
      box-shadow: var(--box-shadow-small);
    }
  }
}
