@mixin background-colors {
  &.primary {
    background-color: var(--color-primary);
  }

  &.secondary {
    background-color: var(--color-secondary);
  }

  &.tertiary {
    background-color: var(--color-tertiary);
  }

  &.accent {
    background-image: var(--color-accent);
  }

  &.warning {
    background-color: var(--color-error);
  }

  &.neutral {
    background-color: transparent;
  }
}

@mixin border-colors {
  &.primary {
    border-color: var(--color-primary);
  }

  &.secondary {
    border-color: var(--color-secondary);
  }

  &.tertiary {
    border-color: var(--color-tertiary);
  }

  &.warning {
    border-color: var(--color-error);
  }

  &.neutral {
    border-color: transparent;
  }
}

@mixin text-colors {
  &.primary {
    color: var(--color-primary);
  }

  &.secondary {
    color: var(--color-secondary);
  }

  &.tertiary {
    color: var(--color-tertiary);
  }

  &.warning {
    color: var(--color-error);
  }

  &.neutral {
    color: var(--color-text-primary);
  }
}
