@mixin form-element {
  padding: var(--gap-small) var(--gap-medium);
  color: var(--color-text-primary);
  border-style: solid;
  border-width: var(--border-medium);

  &:not(:disabled) {
    @include zoom-on-hover(var(--scale-small));
    @include outline-on-focus;
  }

  &:user-invalid {
    border-color: var(--color-error);
  }
}
