@mixin form-element {
  border-style: solid;
  border-width: 1px;

  &:user-invalid {
    border-color: var(--color-warning);
  }
}

@mixin button-variant(
  $background,
  $color,
  $hover-background,
  $hover-color: null,
  $border: none,
  $shadow: null
) {
  background-color: $background;
  color: $color;
  border: $border;
  box-shadow: $shadow;

  &:hover,
  &:focus {
    background-color: $hover-background;
    color: $hover-color;
  }
}

@mixin compact-checkbox-list {
  .checkbox-list-item {
    flex-wrap: wrap;

    .checkbox {
      width: fit-content;
    }

    label:not(.checkbox) {
      width: 80px;
    }

    p {
      flex-grow: 1;
    }
  }
}
