@mixin form-element {
  border-style: solid;
  border-width: 1px;

  &:user-invalid {
    border-color: var(--color-warning);
  }
}

@mixin compact-checkbox-list {
  .checkbox-list-item {
    .checkbox {
      width: fit-content;
    }

    label:not(.checkbox) {
      width: 80px;
    }

    p {
      flex-grow: 1;
    }
  }
}
