@mixin zoom-on-hover($scale) {
  &:hover {
    transition: all $speed-medium ease-in-out;
    transform: scale($scale);
    cursor: pointer;
  }
}

@mixin text-on-focus($color) {
  &:focus-visible,
  &:focus-within {
    transition: all $speed-medium ease-in-out;
    color: $color;
  }
}
