@mixin zoom-on-hover($scale) {
  transition: transform $speed-medium ease-in-out;

  &:hover {
    transform: scale($scale);
  }
}

@mixin text-on-focus($color) {
  transition: color $speed-medium ease-in-out;

  &:focus-visible,
  &:focus-within {
    color: $color;
  }
}
