@import '../../mixins/form.scss';

button {
  @include form-element;

  display: flex;
  gap: var(--spacing-2);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--spacing-5);

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    border: none;
    box-shadow: var(--box-shadow-small);

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
    }
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    border: var(--border-secondary);
    box-shadow: var(--box-shadow-small);

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      color: var(--color-accent-text);
    }
  }

  &.tertiary {
    background-color: transparent;
    color: var(--color-disabled-text);
    border: none;

    &:hover,
    &:focus {
      background-color: var(--color-secondary);
      color: var(--color-secondary-text);
    }
  }

  &.accent {
    background-color: var(--color-accent);
    color: var(--color-accent-text);
    border: none;

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--color-accent) 80%, transparent);
    }
  }

  &.warning {
    background-color: var(--color-warning);
    color: var(--color-warning-text);
    border: none;

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--color-warning) 80%, transparent);
    }
  }

  &.medium {
    height: var(--spacing-6);
    padding: var(--spacing-1) var(--spacing-3);

    a {
      font-size: 0.8rem;
    }
  }

  &.large {
    height: var(--spacing-10);
    padding: var(--spacing-2) var(--spacing-4);

    a {
      font-size: 0.9rem;
    }
  }

  &:disabled {
    background-color: var(--color-disabled) !important;
    color: var(--color-disabled-text) !important;
    cursor: auto !important;
  }
}
