@import '../../mixins/form.scss';
@import '../../mixins/colors.scss';

button {
  @include form-element;

  display: flex;
  gap: var(--gap-medium);
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: calc(var(--gap-medium) + 3px) var(--gap-medium);
  color: var(--color-text-secondary);
  cursor: pointer;

  &.filled {
    border: none;

    @include background-colors;
  }

  &.outline {
    background-color: transparent;

    @include border-colors;
  }

  &.iconOnly {
    padding: calc(var(--gap-medium) + 3px) var(--gap-medium);
    border: none;
    background-color: transparent !important;

    @include text-colors;
  }

  &:disabled {
    background-image: none !important;
    background-color: var(--color-disabled) !important;
    color: var(--color-text-disabled) !important;
    cursor: auto !important;
  }

  &.active {
  }
}
