@use '../../mixins/form.scss' as *;

@mixin checkbox-variant($color, $border, $hover-border: var(--border-secondary)) {
  border: $border;

  &::before {
    box-shadow: inset var(--spacing-4) var(--spacing-4) $color;
  }

  &:hover,
  &:focus {
    border: $hover-border;
  }
}

.checkbox,
.radiobutton {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3);
  align-items: center;

  input[type='checkbox'],
  input[type='radio'] {
    @include form-element;

    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    width: var(--spacing-5);
    height: var(--spacing-5);
    background-color: transparent;
    cursor: pointer;

    &.primary {
      @include checkbox-variant(var(--color-primary), var(--border-primary));
    }

    &.secondary {
      @include checkbox-variant(
        var(--color-secondary),
        var(--border-secondary),
        var(--border-primary)
      );
    }

    &.tertiary {
      @include checkbox-variant(var(--color-tertiary), var(--border-tertiary));
    }

    &.accent {
      @include checkbox-variant(var(--color-accent), var(--border-accent));
    }

    &.warning {
      @include checkbox-variant(var(--color-warning), var(--border-warning));
    }

    &::before {
      content: '';
      width: var(--spacing-3);
      height: var(--spacing-3);
      transform: scale(0);
      transition: var(--speed-medium) transform ease-in-out;
    }

    &:checked::before {
      transform: scale(1);
    }

    &:disabled {
      background-color: var(--color-disabled);
      cursor: auto;
    }
  }

  input[type='checkbox'] {
    border-radius: var(--spacing-1);

    &::before {
      border-radius: calc(var(--spacing-1) / 2);
    }
  }

  input[type='radio'] {
    border-radius: var(--spacing-4);

    &::before {
      border-radius: var(--spacing-4);
    }
  }
}
