@import '../../mixins/interactions.scss';

.checkbox {
  display: grid;
  gap: var(--spacing-3);
  align-items: center;

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    display: grid;
    place-content: center;
    background-color: transparent;
    border-style: solid;
    cursor: pointer;

    &.primary {
      &::before {
        box-shadow: inset var(--spacing-3) var(--spacing-3) var(--color-primary);
      }
    }

    &.secondary {
      &::before {
        box-shadow: inset var(--spacing-3) var(--spacing-3) var(--color-secondary);
      }
    }

    &.tertiary {
      &::before {
        box-shadow: inset var(--spacing-3) var(--spacing-3) var(--color-tertiary);
      }
    }

    &.warning {
      &::before {
        box-shadow: inset var(--spacing-3) var(--spacing-3) var(--color-error);
      }
    }

    &::before {
      content: '';
      transform: scale(0);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:disabled {
      background-color: var(--color-disabled);
      cursor: auto;
    }
  }
}
