.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  justify-content: center;

  .checkbox-list-item {
    display: grid;
    gap: var(--gap-small);
    align-items: center;
  }
}
