@use '../../mixins/form.scss' as *;

@mixin input-variant(
  $border,
  $focus-border: var(--border-primary),
  $color: null,
  $shadow: var(--box-shadow-small)
) {
  color: $color;
  border: $border;
  box-shadow: $shadow;

  &:focus-visible {
    border: $focus-border;
  }
}

label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  width: 100%;
  font-weight: 500;

  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='email'],
  input[type='number'],
  input[type='date'],
  textarea {
    @include form-element;

    width: 100%;
    min-height: var(--spacing-9);
    padding: var(--spacing-1) var(--spacing-3);
    background-color: transparent;
    border-radius: var(--spacing-5);

    &.primary {
      @include input-variant(var(--border-primary), var(--border-accent));
    }

    &.secondary {
      @include input-variant(var(--border-secondary));
    }

    &.tertiary {
      @include input-variant(none, $shadow: null);
    }

    &.accent {
      @include input-variant(var(--border-accent), $color: var(--color-accent-text));
    }

    &.warning {
      @include input-variant(var(--border-warning), $color: var(--color-warning-text));
    }

    &:disabled {
      background-color: var(--color-disabled);
      cursor: auto;
    }
  }

  input[type='date'] {
    padding: calc(var(--spacing-3) - 2px) var(--spacing-3);
  }

  textarea {
    min-height: var(--spacing-12);
    padding: var(--spacing-3) var(--spacing-3);
  }
}

.dark {
  input[type='date'] {
    color-scheme: dark;
  }
}
