@import '../../mixins/form.scss';
@import '../../mixins/colors.scss';

label {
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='number'],
input[type='date'] {
  @include form-element;

  border-radius: var(--border-radius-medium);
  background-color: transparent;

  &:disabled {
    background-color: var(--color-disabled);
    cursor: auto;
  }
}

input[type='date'] {
  padding: calc(var(--gap-small) - 2px) var(--gap-medium);
}

input {
    @include border-colors;
}
