@use '../../mixins/form.scss' as *;

@mixin select-variant(
  $border,
  $arrow,
  $option-background: var(--color-background-primary),
  $focus-border: var(--border-primary),
  $shadow: var(--box-shadow-small)
) {
  background-color: transparent;
  border: $border;
  box-shadow: $shadow;

  &::after {
    background-color: $arrow;
  }

  option {
    background-color: $option-background;
  }

  &:has(:focus-visible) {
    border: $focus-border;
  }
}

.select {
  @include form-element;

  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-height: var(--spacing-9);
  padding: var(--spacing-1) var(--spacing-3);
  border-radius: var(--spacing-5);

  &::after {
    content: '';
    grid-area: select;
    justify-self: end;
    clip-path: polygon(50% 55%, 80% 25%, 100% 25%, 50% 75%, 0 25%, 20% 25%);
    width: var(--spacing-3);
    height: var(--spacing-3);
  }

  &:has(select:disabled) {
    background-color: var(--color-disabled);
    cursor: auto;
  }

  select {
    appearance: none;
    z-index: 1;
    grid-area: select;
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: inherit;
  }

  &.primary {
    @include select-variant(
      var(--border-primary),
      var(--color-primary),
      $focus-border: var(--border-accent)
    );
  }

  &.secondary {
    @include select-variant(
      var(--border-secondary),
      var(--color-secondary),
      var(--color-background-secondary)
    );
  }

  &.tertiary {
    @include select-variant(
      none,
      var(--color-tertiary),
      var(--color-background-tertiary),
      $shadow: null
    );
  }

  &.accent {
    @include select-variant(var(--border-accent), var(--color-accent));
  }

  &.warning {
    @include select-variant(var(--border-warning), var(--color-warning));
  }
}
