@import '../../mixins/form.scss';

.select {
  @include form-element;

  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-height: var(--spacing-9);
  padding: var(--spacing-1) var(--spacing-3);
  background-color: transparent;
  color: var(--color-background-primary-text);
  border: var(--border-primary);
  border-radius: var(--spacing-5);
  box-shadow: var(--box-shadow-small);

  &::after {
    content: '';
    grid-area: select;
    justify-self: end;
    clip-path: polygon(50% 55%, 80% 25%, 100% 25%, 50% 75%, 0 25%, 20% 25%);
    width: var(--spacing-3);
    height: var(--spacing-3);
    background-color: var(--color-primary);
  }

  &:has(select:disabled) {
    background-color: var(--color-disabled);
    cursor: auto;
  }

  select {
    appearance: none;
    z-index: 1;
    grid-area: select;
    width: 100%;
    margin: 0;
    color: var(--color-text-primary);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: inherit;

    &::-ms-expand {
      display: none;
    }

    option {
      color: var(--color-background-primary-text);
      background-color: var(--color-background-primary);
    }
  }
}
