.error,
.success {
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--spacing-5);
}

.error {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}

.success {
  background-color: var(--color-tertiary);
  color: var(--color-tertiary-text);
}
