.status {
  &.error,
  &.success {
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--spacing-5);
  }

  &.error {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    background-color: var(--color-warning);
    color: var(--color-warning-text);

    strong {
      display: block;
      font-weight: 600;
    }
  }

  &.success {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-text);
  }
}

.fieldError {
  color: var(--color-warning);
  font-size: 0.8rem;
  font-weight: 500;
}
