.error {
  padding: var(--gap-medium) var(--gap-medium);
  background-color: var(--color-error);
}

.success {
  padding: var(--gap-medium) var(--gap-medium);
  background-color: var(--color-tertiary);
}
