@import '../../mixins/form.scss';
@import '../../mixins/colors.scss';

textarea {
  @include form-element;
  @include border-colors;

  background-color: transparent;

  &:disabled {
    background-color: var(--color-disabled);
    cursor: auto;
  }
}
