@import '../../mixins/form.scss';
@import '../../mixins/colors.scss';

textarea {
  @include form-element;
  @include border-colors;

  border-radius: var(--border-radius-medium);
  background-color: transparent;

  &:disabled {
    background-color: var(--color-disabled);
    cursor: auto;
  }
}