@import '../../mixins/colors.scss';

.toggle {
  position: relative;
  display: inline-block;
  width: calc(var(--gap-medium) * 2 - var(--gap-medium) * 2);
  height: var(--gap-medium);

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      @include background-colors;
      &::before {
        -webkit-transform: translateX(calc(var(--gap-medium) - var(--gap-medium) * 4));
        -ms-transform: translateX(calc(var(--gap-medium) - var(--gap-medium) * 4));
        transform: translateX(calc(var(--gap-medium) - var(--gap-medium) * 4));
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px var(--color-primary);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-disabled);
    border-radius: var(--gap-medium);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &::before {
      position: absolute;
      content: '';
      height: calc(var(--gap-medium) - var(--gap-medium) * 4);
      width: calc(var(--gap-medium) - var(--gap-medium) * 4);
      left: calc(var(--gap-medium) * 2);
      bottom: calc(var(--gap-medium) * 2);
      background-color: var(--color-text-secondary);
      border-radius: 50%;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
}
