@use '../../mixins/form.scss' as *;
@use '../../mixins/interactions.scss' as *;

input[type='file'] {
  width: 100%;

  &.primary::file-selector-button {
    @include button-variant(
      $background: var(--color-primary),
      $color: var(--color-primary-text),
      $hover-background: color-mix(in srgb, var(--color-primary) 80%, transparent),
      $shadow: var(--box-shadow-small)
    );
  }

  &.secondary::file-selector-button {
    @include button-variant(
      $background: var(--color-secondary),
      $color: var(--color-secondary-text),
      $hover-background: var(--color-accent),
      $hover-color: var(--color-accent-text),
      $border: var(--border-secondary),
      $shadow: var(--box-shadow-small)
    );
  }

  &.tertiary::file-selector-button {
    @include button-variant(
      $background: transparent,
      $color: var(--color-background-secondary-text),
      $hover-background: var(--color-secondary),
      $hover-color: var(--color-secondary-text)
    );
  }

  &.accent::file-selector-button {
    @include button-variant(
      $background: var(--color-accent),
      $color: var(--color-accent-text),
      $hover-background: color-mix(in srgb, var(--color-accent) 80%, transparent)
    );
  }

  &.warning::file-selector-button {
    @include button-variant(
      $background: var(--color-warning),
      $color: var(--color-warning-text),
      $hover-background: color-mix(in srgb, var(--color-warning) 80%, transparent)
    );
  }

  &::file-selector-button {
    @include form-element;
    @include zoom-on-hover(var(--scale-medium));

    display: grid;
    justify-self: start;
    align-self: center;
    height: var(--spacing-10);
    margin-bottom: var(--spacing-3);
    padding: var(--spacing-2) var(--spacing-4);
    border: none;
    border-radius: var(--spacing-5);
    font-size: 0.9rem;
    cursor: pointer;
  }

  &:disabled {
    &::file-selector-button {
      background-image: none;
      background-color: var(--color-disabled);
      cursor: auto;
    }
  }
}
