.brand {
  font-family: 'Figtree', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5em;
}

h1 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5em;
}

h2 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4em;
}

h3 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.17rem;
  font-weight: 600;
  line-height: 1.4em;
}

body,
p,
a,
input,
select,
textarea {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;
  text-wrap: pretty;
}

label {
  font-family: 'Figtree', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2em;
  text-wrap: pretty;
}

img {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;
}
