// Fade transition
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $speed-medium ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

// Slide fade transition
.slide-fade {
  &-enter-active {
    transition: all $speed-medium ease-in-out $speed-medium;
  }

  &-leave-active {
    transition: all $speed-medium ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }
}

// Switch transition
.switch {
  &-enter-active,
  &-leave-active {
    transition: all $speed-medium ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }
}
