@font-face {
  font-family: 'Figtree';
  src: url('../fonts/Figtree-VariableFont.ttf') format('ttf');
}

@font-face {
  font-family: 'Figtree';
  src: url('../fonts/Figtree-Italic-VariableFont.ttf') format('ttf');
  font-style: italic;
}
