@mixin light-mode {
  --color-primary: #b55d42;
  --color-secondary: #f0ebdd;
  --color-tertiary: #425e3f;
  --color-background-primary: #fef7f9;
  --color-background-secondary: #ebb896;
  --color-background-tertiary: #fdfdfd;
  --color-error: #922b35;
  --color-disabled: #ababab;
  --color-text-primary: black;
  --color-text-secondary: white;
  --color-text-disabled: #555555;
}

@mixin dark-mode {
  --color-primary: #b55d42;
  --color-secondary: #362b25;
  --color-tertiary: #425e3f;
  --color-background-primary: #1b1410;
  --color-background-secondary: #3e281b;
  --color-background-tertiary: #281e1a;
  --color-error: #922b35;
  --color-disabled: #272727;
  --color-text-primary: white;
  --color-text-secondary: white;
  --color-text-disabled: #616161;
}

:root {
  // Colors
  @include light-mode;

  &.light {
    @include light-mode;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-mode;
  }

  &.dark {
    @include dark-mode;
  }

  // Spacing
  --gap-xxsmall: 2px;
  --gap-xsmall: 4px;
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 20px;
  --gap-xlarge: 24px;
}
