@mixin light-mode {
  --color-primary: #b55d42;
  --color-primary-text: #fdfaf4;
  --color-secondary: #f0ebdd;
  --color-secondary-text: #472f24;
  --color-tertiary: #425e3f;
  --color-tertiary-text: #f1f7f0;
  --color-accent: #ebb896;
  --color-accent-text: #472215;

  --color-background-primary: #fcf9f3;
  --color-background-primary-text: #33221a;
  --color-background-secondary: #f5efe6;
  --color-background-secondary-text: #33221a;
  --color-background-tertiary: #fffdfa;
  --color-background-tertiary-text: #33221a;

  --color-error: #c9302d;
  --color-error-text: #fdfaf4;
  --color-disabled: #f1ece3;
  --color-disabled-text: #7a685b;

  --color-gradient: linear-gradient(135deg, #ffe2ca 0%, #f8f3e5 55%, #dceedc 100%);

  --color-border-secondary: #e2dbd0;
}

@mixin dark-mode {
  --color-primary: #d67d5e;
  --color-primary-text: #22110b;
  --color-secondary: #362b25;
  --color-secondary-text: #efeae2;
  --color-tertiary: #72906e;
  --color-tertiary-text: #0d140c;
  --color-accent: #bf8b68;
  --color-accent-text: #22110b;

  --color-background-primary: #1b1410;
  --color-background-primary-text: #f1ece4;
  --color-background-secondary: #261d19;
  --color-background-secondary-text: #f1ece4;
  --color-background-tertiary: #281e1a;
  --color-background-tertiary-text: #f1ece4;

  --color-error: #dd5652;
  --color-error-text: #fcf8f1;
  --color-disabled: #332924;
  --color-disabled-text: #b1a699;

  --color-gradient: linear-gradient(135deg, #3e281b 0%, #261d19 55%, #202d20 100%);

  --color-border-secondary: #fcf8f11f;
}

:root {
  // Colors
  @include light-mode;

  &.light {
    @include light-mode;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-mode;
  }

  &.dark {
    @include dark-mode;
  }

  // Spacing
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 48px;
  --spacing-12: 56px;
  --spacing-13: 64px;
  --spacing-14: 72px;
  --spacing-15: 80px;

  --nav-height: 65px;

  // Transition speeds
  --speed-medium: 0.3s;

  // Border
  --border-primary: 1px solid var(--color-primary);
  --border-secondary: 1px solid var(--color-border-secondary);

  // Box shadow
  --box-shadow-small: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --box-shadow-medium: 0 1px 2px #00000059, 0 22px 44px -18px #00000099;
}
